[submodule "vendor/fumadocs"]
	path = vendor/fumadocs
	url = https://github.com/fuma-nama/fumadocs
[submodule "vendor/editorjs"]
	path = vendor/editorjs
	url = https://github.com/codex-team/editor.js
[submodule "vendor/zbsearch"]
	path = vendor/zbsearch
	url = https://github.com/micheleriva/zbsearch
