[submodule "vendor/fumadocs"]
	path = vendor/fumadocs
	url = https://github.com/fuma-nama/fumadocs
[submodule "vendor/better-auth"]
	path = vendor/better-auth
	url = https://github.com/better-auth/better-auth
[submodule "vendor/orpc"]
	path = vendor/orpc
	url = https://github.com/middleapi/orpc
[submodule "vendor/radix-ui-primitives"]
	path = vendor/radix-ui-primitives
	url = https://github.com/radix-ui/primitives
