[submodule "vendor/fumadocs"]
	path = vendor/fumadocs
	url = https://github.com/fuma-nama/fumadocs
[submodule "vendor/better-auth"]
	path = vendor/better-auth
	url = https://github.com/better-auth/better-auth
[submodule "vendor/editorjs"]
	path = vendor/editorjs
	url = https://github.com/codex-team/editor.js
[submodule "vendor/orama"]
	path = vendor/orama
	url = https://github.com/oramasearch/orama
[submodule "vendor/orama-docs"]
	path = vendor/orama-docs
	url = https://github.com/oramasearch/docs
